 <!--Poyecto html y css--> 
 <article class="habilidades2">
  <h2 class="habilidades2"><strong>{{miPortafolio.proyecto.titulo}}</strong></h2>
  <div class="card2" id="proyecto">
    <img [src]="miPortafolio.proyecto.imgP" class="card-img-top2" alt="...">
    <div class="card-body2">
      <h5 class="card-title2">{{miPortafolio.proyecto.nombre1}} <br> {{miPortafolio.proyecto.nombre2}}</h5>
      <p class="card-text2">{{miPortafolio.proyecto.descripcion}}</p>
    </div>
    <div class="card-body2">
      <a href="#" class="card-link">{{miPortafolio.proyecto.boton}}</a>
    </div>
  </div>
</article>   
