 <!--boostrap habilidades-->
   <!--habilidades fuertes-->
   <ul class="habilidades">
      <h2 class="habilidades"><strong>{{miPortafolio.habilidades.titulo}} </strong></h2>
      <li >
        <div class="progress" style="height: 20px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">{{miPortafolio.habilidades.porcentajeUno}}</div>
        </div>
        <h4 class="html">{{miPortafolio.habilidades.lenguajeUno}}</h4>
    </li>
    <li>
      <div class="progress" style="height: 20px;">
      <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">{{miPortafolio.habilidades.porcentajeDos}}</div>
      </div>
      <h4 class="html">{{miPortafolio.habilidades.lenguajeDos}}</h4>
      <li>
        <div class="progress" style="height: 20px;">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">{{miPortafolio.habilidades.porcentajeTres}}</div>
         </div><h4 class="javascript">{{miPortafolio.habilidades.lenguajeTres}}</h4> 
      </li>
  </ul>