/*habilidades*/
/*habilidades fuertes*/
ul.habilidades{
    list-style: none;
    width: 100%;
    height: auto;
    position: relative;
    top: 280px;
}
h2.habilidades{
    position: relative;
    left: 10px;
    font-size: 21px;
    font-family: verdana;
}

div.progress{
    position: relative;
    left: 10px;
}

h4.html{
    font-size: 18px;
    font-family: verdana;
    position: relative;
    left: 10px;
}

h4.css{
    font-size: 18px;
    font-family: verdana;
    position: relative;
    left: 10px;
}

h4.javascript{
    font-size: 18px;
    font-family: verdana;
    position: relative;
    left: 10px;
}