div.container-fluid{
    height: 50px;
}

/*barra de navegacion*/
*{
    margin: 0;
    padding: 0;
}   

header.header{
    background: #d6a5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 5px 5%;
}
.header .logo img{
    cursor: pointer;
    height: 50px;
    width: auto;
    transition: all 0.3s;

}
.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
    justify-content: center;
}

.header .nav-links li{
    display: inline-block;
    position: relative;
    top: 6px;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header a.btn button{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding: 9px 20px;
    background-color: rgb(154, 209, 247) ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header a.btn button:hover{
    background-color: rgb(185, 105, 175);
    color: rgb(231, 226, 226);
transform: scale(1.1);
}




/*banner*/
div.d-flex{
    position: relative;
    bottom:100px;
    left: 0px;
}

h6.text-center{
    position: relative;
    bottom: 120px;
    left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
a.inf{
    text-decoration: none;
    color: black;
    border: 1px aqua;
    border-radius: 4px;
    transition: all 400ms ease;
}

a.inf:hover{
    background:  rgb(228, 230, 236);
    color:blue;
}

p{
    position: relative;
    left: 105px;
    bottom: 45px; ;
    font-size: 14px;
}

