<!--habilidades blandas--> 
      <div class="habilidadesB">
        <h2 class="habilidadesB"><strong>{{miPortafolio.actitudes.titulo}}</strong></h2>
      </div>
      <!--card 1-->
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img [src]="miPortafolio.actitudes.imgUno" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{miPortafolio.actitudes.tituloUno}}</h5>
              <p class="card-text">{{miPortafolio.actitudes.subtituloUno}}</p>
            </div>
          </div>
        </div>
        <!--card 2-->
        <div class="col-sm-6">
          <div class="card">
            <img [src]="miPortafolio.actitudes.imgDos" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{miPortafolio.actitudes.tituloDos}}</h5>
              <p class="card-text">{{miPortafolio.actitudes.subtituloDos}}</p>
            </div>
          </div>
        </div>
      </div>
      <!--card 3-->
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img [src]="miPortafolio.actitudes.imgTres" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{miPortafolio.actitudes.tituloTres}}</h5>
              <p class="card-text">{{miPortafolio.actitudes.subtituloTres}}</p>
            </div>
          </div>
        </div>
        <!--card 4-->
        <div class="col-sm-6">
          <div class="card">
            <img [src]="miPortafolio.actitudes.imgCuatro" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{miPortafolio.actitudes.tituloCuatro}}</h5>
              <p class="card-text">{{miPortafolio.actitudes.subtituloCuatro}}</p>
            </div>
          </div>
        </div>
      </div> 
   